html {
  background: white;
}

body {
  font-family: museo-sans, sans-serif;
  max-width: 100vw;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

form {
  font-size: 1rem;
}

label {
  color: #0F77FE;
}

input {
  font-size: 1rem;
  border-color: #0F77FE;
  border-style: none;
  border-bottom: solid 2px #0F77FE;
  display: block;
  margin: 3% 0;
  width: 50%;
  height: 2rem;
  outline: none;
}

input::placeholder {
 color: #0F77FE;
}

button {
  text-decoration: none;
  background-color: #0F77FE;
  padding: 10px 20px;
  letter-spacing: 2px;
  font-size: .6rem;
  color: white;
  border:none;
  height: 5%;
  float: none;
}

button:hover,
.submit:hover,
a:hover {
  cursor: pointer;
}

/* This was necessary to keep the textarea in flashcard edit from acting like it was inline. */

textarea {
  display: block;
}

.flashcard-pencil {
  width: 1.5rem;
  height: 1.5rem;
}

.flashcard-edit-link,
.subject-edit-link {
  float: right;
}

.flashcard-edit-link {
  padding: 2%;
}

.subject-pencil {
  width: 1.25rem;
  height: 1.25rem;
  padding: 1%;
}

.merriam-webster-logo {
  margin-right: 2%;
}

/* Header */

.header {
  height: 4.5rem;
  background: #f9f9f9;
 }

.header-flexbox {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.website-title-header {
  padding: 0 1rem;
}

.website-title-header a {
  text-decoration: none;
  color: #0F77FE;
  font-weight: 100;
}

.user-name-header {
  margin: 2rem;
  display: inline-flex;
  float: right;
  font-weight: 100;
  color: #0F77FE;
}

.auth-header {
  font-family: 'Nunito', sans-serif;
  line-height: 2;
  font-weight: 400;
  color: #0F77FE;
}

/* Login + Register*/

.auth-page {
  max-width: 50%;
  margin: auto;
}

.link {
  display: block;
  margin-top: 3%;
  color: #0F77FE;
}

.submit {
  background-color: #0F77FE;
  color: white;
  margin-bottom: 1%;
}

.auth-submit {
  height: 1.75rem;
}

.submit:focus {
  background-color: #02EBF5;
}

/* Subjects */

.subject-label {
  font-size: 1.5rem;
}

.term-input,
.subject-input {
  color: #0F77FE;
  font-size: 1rem;
}

.individual-subject {
  list-style: none;
  display: inline-block;
  padding: 1%;
  float: left;
  width: 50%;
  height: 20vh;
  box-sizing: border-box;
  border: 1px solid #0F77FE;
  border-top: 3px solid #0F77FE;
  margin-bottom: .5%;
}

.individual-subject-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individual-subject-link {
  text-decoration: none;
  color: #0F77FE;
  font-size: 1.2rem;
  font-weight: 100;
}

.subject-date,
.back-to-subjects{
  font-size: .8rem;
  color: #4A4A4A;
  text-decoration: none;
}

button.add-subject > a {
  text-decoration: none;
  color: white;
  padding: 10px 0;
}

.flashcard-button{
  float: right;
  margin: 3px;
}

button.flashcard-button > a {
  text-decoration: none;
  color: white;
}

.delete-button {
  margin-right: .5%;
}

.page-header {
  font-weight: 400;
  color: #0F77FE;
}

.add-subject {
  float: right;
  color: white;
}

.flashcard {
  background-color: white;
  border: 2px solid #02EBF5;
  border-top: none;
  height: 40%;
  display: inline-block;
  width: 50%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.flashcard-button-card {
  display: inline-block;
  width: 50%;
  height: 2.5rem;
  padding: 0;
}

.got-it{
  background-color: #02EBF5;
}

.flashcard-term {
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #0F77FE;
  margin-top: 10%;
  text-align: center;
}

h3.flashcard-date {
  margin-top: 0;
  font-size: 1rem;
}

.flashcard-definition {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: #0F77FE;
  padding: 5px;
  margin: 2% 0;
  width: 75%;
}

/* Flashcard Add Form */

.dictionary {
  color: #0F77FE;
  display: flex;
  align-items: center;
  margin-top: -1%;
}

.load-button {
  margin-left: 2%;
}

/* Code reference for nav:  https://www.codementor.io/chrisharrington/how-to-build-a-sliding-menu-using-react-js-and-less-css-du107mpij */

.nav-icon{
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.25rem;
}

.hamburger-nav-icon{
  width: 2.5rem;
  height: .1rem;
  background: #0F77FE;
 }

.nav-menu {
  width: 25vw;
  background:#0F77FE;
  position: absolute;
  margin-top: 1rem;
}

/* Code source for nav animation: https://codepen.io/anon/pen/pWNZQz */

nav a:before, nav a:after{
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
}

nav a:before{
  content: '(';
  left: -2rem;
  transform: translateX(1.25rem);
}

nav a:after{
  content: ')';
  right: -2rem;
  transform: translateX(-2.5rem);
}

nav a:hover:before, nav a:hover:after{
  opacity: 1;
  transform: translateX(0);
}

.nav-link {
  color: #FFF;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  margin: 0 .6rem;
  padding: .6rem .6rem;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.mf-application-page {
  margin: 0 6%;
  margin-top: 2%;
}

.card-area {
  height: 100vh;
}

/*
 ******************************************
 * HELPER CLASSES
 ******************************************
 */

/* Clearfix */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media (max-width: 35rem) {

  input {
    width: 75%;
  }

  nav {
    font-size: 1rem;
  }

  button.flashcard-button-card.got-it {
    float: right;
  }

  .individual-subject-link {
    width: 50%;
  }

}
