 /* fonts */

 @import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700');


 

 /* header */
 .header {
   height: 80px;
   background: #f9f9f9;
  }

 .header-content{
   height: 90px;
 }

 .hamburger {
  float: left;
  display: inline-block;
  height: 65px;
  padding-top: 20px;
}

 .hamburger-nav-icon{
   width: 40px;
   height: 2px;
   background: #0F77FE;
   margin: 20% 0;
   display: block;
  }


h1.website-title-header {
  display: inline-block;
  font-size: 1.5rem;
  padding: 15px;
  float: left;
}

h1.website-title-header a{
  text-decoration: none;
  color: #0F77FE;
  font-weight: 100;
  font-family: museo-sans, sans-serif;
} 

.user-name-header{
   margin: 35px;
   display: inline-flex;
   float: right;
   font-weight: 100;
   font-family: museo-sans, sans-serif;
   color: #0F77FE;
   
 }


 .main-home-box h1 , .auth-header , h1{
  font-family: 'Nunito', sans-serif;
  font-size: 2.5em;
  line-height: 3rem;
  font-weight: 200;
  margin: auto;
  color: #0F77FE;
 }

/* login + register*/


.auth-page{
  max-width: 50%;
  margin: auto;
  padding: 5% 0;
}


input {
  background-color: transparent;
  border-color: #0F77FE;
  border-style: none;
  border-bottom: solid 2px #0F77FE;
  display: block;
  margin: 5% 0;
  width: 250px;
  height: 40px;
  outline: none;
}

input::placeholder {
  color: #0F77FE;
  font-size: 1rem;
}


 a.link {
  text-decoration: none;
  color: #0F77FE;
}

 .submit {
  background-color: #0F77FE;
  padding: 10px 20px;
  letter-spacing: 2px;
  font-size: .6rem;
  color: white;
}


.linkarea {
  width: 200px;
  height: 40px;
  background-color: #0F77FE;
}

/* subjects.js */
ul.list-of-subjects{
  max-width: 1024px;
  margin: 6px;
}


li.individual-subject {
   list-style: none;
   display: inline-block;   
   padding: 5%;  
   margin: 1%;
   float: left;
   width: 36%;
   border: 1px solid #0F77FE;
   border-top: 5px solid #0F77FE;
   transition:all 0.9s ease;
}

li.individual-subject:hover {
  background-color: #EDFEFF;
  transform: scale(1.05);
}

a.individual-subject-link {
  text-decoration: none;
  color: #0F77FE;
  font-size: 1.2rem;
  font-weight: 100;
}

.subject {
  width: 350px;
  height: 90px;
}

.subject {
  color: #333333;
  font-size: 20px;
}

.subject-date, .back-to-subjects{
  font-size: .8rem;
  color: #4A4A4A;
  text-decoration: none;
}

a.add-subject, button {
  text-decoration: none;
  background-color: #0F77FE;
  padding: 10px 20px;
  letter-spacing: 2px;
  font-size: .6rem;
  color: white;
  float: right;
}

button {
  border:none;
  height: 40px;
  float: none;
  margin: 3px; 
}

button.flashcard-button > a {
  text-decoration: none;
  color: white;  
}

button.flashcard-button{
  float: right;
  margin: 3px;  
}

.subject-page-header{
  margin: 2% 0
}

.page-header{
  padding: 4% 5%;
}

.add-subject {
  padding: 5%;
}

.cardArea{
  height: 100vh;
}

.flashcard {
  background-color:white;
  border: 2px solid #02EBF5;
  border-top: none;
  height: 227px;
  display: inline-block;
  width: 48%;
  margin-right: 5px;
  overflow-x: hidden;  
}

button.flashcard-button-card {
  display: inline;
  width: 50%;
  height: 40px;
  margin: 0;
}

.got-it{
  background-color: #02EBF5;
  margin: 0px
}

.flashcard-term {
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #0F77FE;
  padding-top: 30px;
}

.flashcard-definition {
  font-family: 'Nunito', sans-serif;
  color: #0F77FE;
  padding: 5px;
    margin: 0px
}


/* Flashcard Add Form */

.add-flashcard{
  margin: 5%;
}


#comment {
  margin: 2% 0;
  display: block;
  width: 70%;
  border: 2px solid #0F77FE;
}

p.dictionary {
  color: #0F77FE;
}


/* code reference for nav:  https://www.codementor.io/chrisharrington/how-to-build-a-sliding-menu-using-react-js-and-less-css-du107mpij */ */


.nav-icon {
  width: 50vw;
  background:#0F77FE;
  height: 100vh;
  position: absolute;
}


.nav-list {
  background:#0F77FE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
	text-align: center;
}

.nav-list:after {
  background-color: green;
  width: 80vw;
  transition: all 0.3s;
  
  
}  

/* code source for nav animation: https://codepen.io/anon/pen/pWNZQz */

div.nav-list a:before, div.nav-list a:after
{
    position: absolute;
    opacity: 0;
    font-size: 40px;
    top: 0px;
    transition: all 0.3s;
}


div.nav-list a:before
{
    content: '(';
    left: -30px;
    transform: translateX(20px);
}

div.nav-list a:after
{
    content: ')';
    right: -30px;
    transform: translateX(-40px);
}

div.nav-list a:hover:before, div.nav-list a:hover:after{
    opacity: 1;
    transform: translateX(0px);
}

.nav{
  height: 52px;
  border-left: 20px solid transparent; 
}


.nav-link {
  color: #FFF;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  font-weight: 100;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

body {
  font-family: museo-sans, sans-serif;
  max-width: 1024px;
  margin: auto;
  background-color: white;
  height: 100vh;
 }

 html {
   background-color: #f9f9f9;
 }

 img {
  width: 30px;
  height: 30px;
  padding: 3%;
  float: right;
}

label {
  color: #0F77FE;  
}

.edit {
  padding:5%;
}

/******************************************
/* HELPER CLASSES
/*******************************************/
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.is-hidden {
  display: none; }

.is-visible {
  display: block; }
