
 /* fonts */

 @import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700');
 /* replacing futura for now */


 html {
  font-family: museo-sans, sans-serif;
  max-width: 1024px;
  margin: auto;
  background: #EDFEFF;
  
  
 }


 /* header */

 .header {
   height: 90px;
   background: #333333;
   /* width: 100vw; */
  }

 .header-content{
   max-width: 1024px;
   height: 90px;

 }

 .hamburger {
  display: inline-block;
  padding: 20px;
  margin-right: 35%; 
}
 .hamburger-nav-icon{
   width: 50px;
   height: 2px;
   background: white;
   margin: 20%;
   display: block;
  }


.website-title-header {
  display: inline-flex;
}

h1.website-title-header a{
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-family: museo-sans, sans-serif;
} 

.user-name-header{
   margin: 35px;
   display: inline-flex;
   float: right;
   font-weight: 100;
   font-family: museo-sans, sans-serif;
   color: white;
   
 }




 /* homepage content */

 .homepage {
  max-width: 1024px;
  height: 100vh;
  margin: auto;
  background-color: #EDFEFF;
  /* this needs work obvi */
}
 .home-content {
  padding:  5% 0;   
  background-image: url(background-image.png)
  
 }
 .main-home-box {
   margin: 2% 0 2% 4%;
   height: 300px;
   max-width: 282px;
   display: inline-flex;
 }









 .main-home-box h1 , .auth-header , h1{
  font-family: 'Nunito', sans-serif;
  font-size: 2.5em;
  line-height: 3rem;
  font-weight: 200;
  margin: auto;
  color: #0F77FE;
 }
/* needs hover */


 /* .homepage {
   width: 80%;
   margin: 0 auto;
 } */


/* user's subject page */

/* login + register*/


.auth-page{
  max-width: 50%;
  margin: auto;
  padding: 5% 0;
}


input {
  background-color: transparent;
  border-color: #0F77FE;
  border-style: none;
  border-bottom: solid 2px #0F77FE;
  display: block;
  margin: 5% 0;
  width: 250px;
  height: 40px;
  outline: none;
  
}

input::placeholder {
  color: #0F77FE;
  font-size: 1rem;
}
input:focus { 
  
}


 a.link {

  text-decoration: none;
  color: #0F77FE;
  
  

}

 .submit {
  width: 200px;
  height: 40px;
  background-color: #0F77FE;
  color: white;
  font-size: 1rem;
}

.linkarea {
  width: 200px;
  height: 40px;
  background-color: #0F77FE;
}


/* //subjects.js */
ul.list-of-subjects{
  padding: 0;

  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}


li.individual-subject {
  list-style: none;
  margin: auto;
  padding: 5%;  
  margin-bottom: 5%;
  width: 350px;
  height: 5%;
  border: 1px solid #0F77FE;
  border-top: 5px solid #0F77FE;
}

a.individual-subject-link {
  text-decoration: none;
  color: #0F77FE;
  font-size: 1.2rem;
  font-weight: 100;
}

.subject {
  width: 350px;
  height: 90px;
}

.subject {
  color: #333333;
  font-size: 20px;
}

a.add-subject {
  text-decoration: none;
  background-color: #0F77FE;
  padding: 1% 5%;
  letter-spacing: 2px;
  font-size: .6rem;
  color: white;
  float: right;
}

.subject-page-header{
  margin: 2% 0
}
.page-header{
  padding: 4% 5%;
}
/******************************************
/* HELPER CLASSES
/*******************************************/
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.is-hidden {
  display: none; }

.is-visible {
  display: block; }
